{% extends 'base.html' %}
 
{% block main %}
 
<div class="container ">
  <div class="row my-5">
    <div class="col-12">
      <h2>Cart</h2>
      {% if object_list|length != 0 %}
      <table class="table mb-5 text-right">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price(USD)</th>
            <th scope="col">Formats</th>
            <th scope="col">Sum</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>No.{{forloop.counter}}</td>
            <td>{{object.name}}</td>
            <td>{{object.price}}</td>
            <td>
              {% for format in object.purchase_formats %}
              {{format}}<br>
              {% endfor %}
            </td>
            <td>{{object.subtotal}}</td>
            <td><a href="/cart/remove/{{object.pk}}/" class="my-auto btn btn-danger btn-sm">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="lead text-right">Subtotal - ${{total}}</p>
      <p class="lead text-right">Total - ${{tax_included_total}}(Tax Included)</p>
 
      <!-- Checkoutボタン -->
      <form action="/pay/checkout/" method="POST" class="text-right">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Checkout</button>
      </form>
 
      {% else %}
      <p class="">Nothing items in your cart.</p>
      {% endif %}
    </div>
  </div>

  <h2>Recommendations</h2>
  <div class="row mb-5">
    {% for object in POPULAR_ITEMS %}
    {% if forloop.counter < 4 %}
    <div class="col-12 col-lg-3 my-3">
      {% include 'snippets/item_box.html' %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
 
{% endblock %}