{% extends 'base.html' %}

{% block main %}

<div class="container my-5">
    <h1 class="text-center mb-4">Specified Commercial Transactions Act Statement</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Seller Information</h3>
            <ul class="list-unstyled">
                <li><strong>Company Name:</strong> Tokyo DSP</li>
                <li><strong>Representative:</strong> Takumi Okabe</li>
                <li><strong>Address:</strong> 2-12-8-306, Sagamidai, Sagamihara-Minamiku, Kanagawa, 252-0321</li>
                <li><strong>Phone Number:</strong> +81-70-9001-0968</li>
                <li><strong>Email Address:</strong> tokyodsp2025@gmail.com</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Price</h3>
            <p>The price of the products will be as indicated on each product page.<br>Additional costs such as shipping fees and handling fees will be displayed during the checkout process.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Payment Methods</h3>
            <ul class="list-unstyled">
                <li>Credit Card with Stripe</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Delivery Time</h3>
            <p>Once the purchase is complete, the product will be available for immediate download from the order page.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Returns and Exchanges</h3>
            <p>Returns and exchanges are generally not accepted. However, we will accept returns or exchanges under the following conditions:<br>
            ・ If the product is defective<br>
            ・ If the product is different from what was ordered<br>
            Please contact us within 7 days of receiving the product if you wish to return or exchange it.</p>
        </div>
        <div class="col-md-6">
            <h3>Other Notes</h3>
            <p>If there are any restrictions on the sales area or special sales conditions, they will be indicated on the product page.<br>Please contact us for more details.</p>
        </div>
    </div>
</div>

{% endblock %}